@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'PT Sans', sans-serif;
  background: #f5f3f5;
  color: #2e282a; }

.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #f5f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; }

.header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative; }

@media screen and (max-width: 768px) {
  .header {
    background: url("../video/Working-it/Snapshots/Working-it.jpg") center/cover fixed no-repeat; } }

.banner {
  margin-left: 2rem;
  border-left: 0.5rem solid #ffc914; }
  .banner__title {
    font-size: 3rem;
    letter-spacing: .25rem;
    margin-left: 1rem;
    text-transform: uppercase;
    color: #00a7e1; }
  .banner__title-name {
    color: #ffc914;
    font-size: 4rem;
    font-style: italic;
    text-decoration: underline; }

.video__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.video__item {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(245, 243, 245, 0.3);
  z-index: 2; }

.navBtn {
  position: fixed;
  top: 5%;
  right: 5%;
  font-size: 3rem;
  color: #ffc914;
  z-index: 3;
  cursor: pointer;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(255, 201, 20, 0.5);
  z-index: 4;
  width: 0;
  overflow: hidden;
  transition: all .4s linear; }
  .nav__links {
    list-style: none; }
  .nav__single-link {
    display: block;
    text-decoration: none;
    color: #2e282a;
    font-size: 1.5rem;
    padding: .5rem;
    transition: all .4s linear; }
    .nav__single-link:hover {
      background-color: #2e282a;
      color: #ffc914;
      padding-left: 1.5rem; }

.nav--show {
  width: 11rem; }
